@keyframes goin { /*******************Создание анимации для модального окна с ссылкой и qr-кодом******************/
    from { /*************************************************От...************************************************/
        opacity: 0; /**************************************Непрозрачность: 0%*************************************/
    } to { /*************************************************До...************************************************/
        opacity: 100%; /***********************************Непрозрачность: 100%***********************************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@keyframes gout { /***************************Анимация для исчезновения модального окна***************************/
    from { /*************************************************От...************************************************/
        opacity: 100%; /***********************************Непрозрачность: 100%***********************************/
    } to { /*************************************************До...************************************************/
        opacity: 0; /*************************************Непрозрачность: 0%**************************************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@keyframes goin600 { /*******Анимация для появления модального окна для дисплеев с шириной <= 600 пикселей********/
    from { /************************************************От...*************************************************/
        left: calc(100vw + 60px); /************Отступ слева (не margin): 100% от ширины + 60 пикселей*************/
    } to { /************************************************До...*************************************************/
        left: calc(10vw - 6px) /************Отступ слева (снова не margin): 10% от ширины - 6 пикселей************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@keyframes gout600 { /********Анимация для скрытия модального окна для дисплеев с шириной <= 600 пикселей*********/
    from { /************************************************От...*************************************************/
        left: calc(10vw - 6px) /*Отступ слева (всё ещё не magin): 10% от ширины документа (или окна) - 6 пикселей*/
    } to { /************************************************До...*************************************************/
        left: calc(-100vw - 60px); /************Отст... и это не margin: -100% от ширины - 60 пикселей************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@media screen and (max-width: 450px) { /*****************Если ширина документа <= 450 пикселям...*****************/
    header.header h2, div.examples h2, div.reviews h2, div.comments h2 { /***********Для заголовков...************/
        font-size: 44px; /*************************...установить размер шрифта 44 пикселя*************************/
    } /**************************************************Лягушка**************************************************/
    body header p { /***************************Для параграфа в шапке тела документа...***************************/
        font-size: 24px; /*************************...установить размер шрифта 24 пикселя*************************/
    } /**************************************************Лягушка**************************************************/
    body div.examples p { /************Для параграфа контейнере с примерами работ в теле документа...*************/
        font-size: 24px; /*************************...установить размер шрифта 24 пикселя*************************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@media screen and (max-width: 400px) { /**********Если ширина документа меньше или равна 400 пикселям...**********/
    header.header h2, div.examples h2, div.reviews h2, div.comments h2 { /****Для заголовков второго уровня...****/
        font-size: 40px; /************************...установить размер шрифта 40 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body header p { /***************************Для параграфа в шапке тела документа...***************************/
        -webkit-text-stroke: 1px #0ff; /******...установить голубой цвет контура текста толщиной 1 пиксель,*******/
        font-size: 22px; /****************************а также размер шрифта 22 пикселя****************************/
    } /**************************************************Лягушка**************************************************/
    body div.examples p { /*******************Для параграфа в контейнере для примеров работ...********************/
        -webkit-text-stroke: 1px #f09; /******...установить розовый цвет контура текста толщиной 1 пиксель,*******/
        font-size: 22px; /****************************а также размер шрифта 22 пикселя****************************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@media screen and (max-width: 360px) { /**********Если ширина документа меньше или равна 360 пикселям...**********/
    header.header h2, div.examples h2, div.reviews h2, div.comments h2 { /****Для заголовков второго уровня...****/
        font-size: 36px; /************************...установить размер шрифта 36 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body header p { /***************************Для параграфа в шапке тела документа...***************************/
        font-size: 20px; /************************...установить размер шрифта 20 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body div.examples p { /*******************Для параграфа в контейнере для примеров работ...********************/
        font-size: 20px; /************************...установить размер шрифта 20 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@media screen and (max-width: 330px) { /**********Если ширина документа меньше или равна 330 пикселям...**********/
    header.header h2, div.examples h2, div.reviews h2, div.comments h2 { /****Для заголовков второго уровня...****/
        font-size: 32px; /************************...установить размер шрифта 32 пикселя,*************************/
        -webkit-text-stroke: #0ff 1px; /***...а также установить голубой цвет контура текста толщиной 1 пиксель***/
    } /**************************************************Лягушка**************************************************/
    div.examples h2 { /**************Для заголовка второго уровня в контейнере с примерами работ...***************/
        -webkit-text-stroke: #f09 1px; /*******...установить розовый цвет контура текста толщиной 1 пиксель*******/
    } /**************************************************Лягушка**************************************************/
    div.reviews h2 { /******************Для заголовка второго уровня в контейнере с отзывами...*******************/
        -webkit-text-stroke: #49f 1px; /********...установить синий цвет контура текста толщиной 1 пиксель********/
    } /**************************************************Лягушка**************************************************/
    div.comments h2 { /***************Для заголовка второго уровня в контейнере с комментариями...****************/
        -webkit-text-stroke: #ff3 1px; /*******...установить желтый цвет контура текста толщиной 1 пиксель********/
    } /**************************************************Лягушка**************************************************/
    body header p { /***************************Для параграфа в шапке тела документа...***************************/
        font-size: 12px; /************************...установить размер щрифта 12 пикселей,************************/
        -webkit-text-stroke: 0px #000; /*************************...убрать контур текста,*************************/
        color: #0ff; /**********************************...а также голубой цвет***********************************/
    } /**************************************************Лягушка**************************************************/
    body div.examples p { /********************Для параграфа в контейнере с примерами работ...********************/
        font-size: 12px; /************************...установить размер шрифта 12 пикселей,************************/
        -webkit-text-stroke: 0px #000; /*************************...снести контур текста,*************************/
        color: #f09; /**********************************...а также розовый цвет***********************************/
    } /**************************************************Лягушка**************************************************/
    body header div p::selection { /***Для выделенного текста параграфа в контейнере в шапке тела документа...****/
        color: #aaa3; /*************************...установить серый почти прозрачный цвет*************************/
    } /**************************************************Лягушка**************************************************/
    body div.examples p::selection { /****Для выделенного текста параграфа в контейнере для примеров работ...*****/
        color: #aaa3; /******************************...установить тот же серый цвет******************************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@media screen and (max-width: 300px) { /**********Если ширина документа меньше или равна 300 пикселям...**********/
    header.header h2 { /*************************Для заголовка второго уровня в шапке...**************************/
        top: 3px; /****************************...установить отступ сверху 3 пикселя,*****************************/
        color: #0ff; /************************************а также голубой цвет************************************/
    } /**************************************************Лягушка**************************************************/
    header.header h2, div.examples h2, div.reviews h2, div.comments h2 { /****Для заголовков второго уровня...****/
        font-size: 28px; /************************...установить размер шрифта 28 пикселей,************************/
        -webkit-text-stroke: 0px #000; /**************************...снести нахер контур**************************/
    } /**************************************************Лягушка**************************************************/
    div.examples h2 { /**************Для заголовка второго уровня в контейнере для примеров работ...**************/
        color: #f09; /*********************************...установить розовый цвет*********************************/
    } /**************************************************Лягушка**************************************************/
    div.reviews h2 { /**************Для заголовка второго уровня в контейнере для примеров работ...***************/
        color: #49f; /**********************************...установить синий цвет**********************************/
    } /**************************************************Лягушка**************************************************/
    div.comments h2 { /**************Для заголовка второго уровня в контейнере для примеров работ...**************/
        color: #ff3; /*********************************...установить желтый цвет**********************************/
    } /**************************************************Лягушка**************************************************/
    header.header h2::selection { /**Для выделенного заголовка второго уровня в контейнере для примеров работ...**/
        color: #aaa3; /************************...установить серый, почти прозрачный цвет*************************/
    } /**************************************************Лягушка**************************************************/
    div.examples h2::selection { /**Для выделенного заголовка второго уровня в контейнере для примеров работ...***/
        color: #aaa3; /************************...установить серый, почти прозрачный цвет*************************/
    } /**************************************************Лягушка**************************************************/
    div.reviews h2::selection { /***Для выделенного заголовка второго уровня в контейнере для примеров работ...***/
        color: #aaa3; /************************...установить серый, почти прозрачный цвет*************************/
    } /**************************************************Лягушка**************************************************/
    div.comments h2::selection { /**Для выделенного заголовка второго уровня в контейнере для примеров работ...***/
        color: #aaa3; /************************...установить серый, почти прозрачный цвет*************************/
    } /**************************************************Лягушка**************************************************/
    body header p { /***************************Для параграфа в шапке тела документа...***************************/
        font-size: 12px; /************************...установить размер шрифта 12 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body div.examples p { /*******************Для параграфа в контейнере для примеров работ...********************/
        font-size: 12px; /************************...установить размер шрифта 12 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer { /********************************Для подвала документа...********************************/
        top: calc(100vh - 40px); /*****************...установить отступ сверху 100% - 40 пикселей*****************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer > div { /***********************Для дочерних контейнеров подвала...************************/
        width: 30px; /**********************************...установить ширину...***********************************/
        height: 30px; /**********************************...и высоту 30 пикселей**********************************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer > div:hover { /**************Когда курсор над дочерним контейнером подвала...**************/
        margin-top: -10px; /***********************...установить отступ сверху -10 пикселей***********************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer div svg image { /******Для фона векторного изображения всех контейнеров в подвале...*******/
        width: 40px; /**********************************...установить ширину...***********************************/
        height: 40px; /**********************************...и высоту 40 пикселей**********************************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer div svg { /************Для векторного изображения всех контейнеров в подвале...************/
        width: 40px; /***********************************...установить ширину и***********************************/
        height: 40px; /**********************************...высоту 40 пикселей,***********************************/
        margin-left: -5px; /*************************...а также отступ слева -5 пикселей**************************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer div.yadisk svg { /******Для изображения кнопки для получения ссылки на яндекс.диск...******/
        margin-top: -5px; /************************...установить отступ слева -5 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer > div h2 { /****************Для заголовков дочерних контейнеров подвала...*****************/
        font-size: 22px; /************************...установить размер шрифта 22 пикселя,*************************/
        margin-top: -12px; /************************...а также отступ сверху -12 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer > div.vk h2 { /**********Для текста кнопки для получения ссылки на группу в вк...**********/
        margin-top: -10px; /***********************...установить отступ сверху -10 пикселей***********************/
    } /**************************************************Лягушка**************************************************/
    div.comments { /******************************Для контейнера для комментариев...******************************/
        border-bottom: 40px solid #fff /*******...установить сплошную рамку снизу 40 пикселей белого цвета********/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@media screen and (max-width: 250px) { /*******************Если ширина сайта <= 250 пикселям...*******************/
    header.header h2 { /*************************Для заголовка второго уровня в шапке...**************************/
        top: 0px; /****************************...установить отступ слева 0 пикселей,*****************************/
        line-height: 30px; /*************************...а также высоту строки 30 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    header.header h2, div.examples h2, div.reviews h2, div.comments h2 { /****Для заголовков второго уровня...****/
        font-size: 24px; /*************************...установить размер шрифта 24 пикселя*************************/
    } /**************************************************Лягушка**************************************************/
} /****************************************************Лягушка****************************************************/
@media screen and (max-width: 200px) { /*******************Если ширина сайта <= 200 пикселям...*******************/
    header.header h2, div.examples h2, div.reviews h2, div.comments h2 { /****Для заголовков второго уровня...****/
        font-size: 17px; /************************...установить размер шрифта 17 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body header p { /***************************Для параграфа в шапке тела документа...***************************/
        font-size: 10px; /************************...установить размер шрифта 10 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body div.examples p { /********************Для параграфа в контейнере с примерами работ...********************/
        font-size: 10px; /************************...установить размер шрифта 10 пикселей*************************/
    } /**************************************************Лягушка**************************************************/
    body footer.footer { /*Для подвала документа...*/
        top: calc(100vh - 30px); /*...установить отступ сверху 100% - 30 пикселей*/
    } /*Лягушка*/
    body footer.footer > div { /*Для дочерних контейнеров подвала...*/
        width: 20px; /*...установить ширину...*/
        height: 20px; /*...и высоту 20 пикселей*/
    } /*Лягушка*/
    body footer.footer > div:hover { /*Если курсор над дочерним контейнеров подвала...*/
        margin-top: -5px; /*...установить его отступ сверху -5 пикселей*/
    } /*Лягушка*/
    body footer.footer div svg image { /*Для фона векторного изображения всех контейнеров в подвале...*/
        width: 30px; /*...установить ширину...*/
        height: 30px; /*...и высоту 30 пикселей*/
    } /*Лягушка*/
    body footer.footer div svg { /*Для векторного изображения всех контейнеров в подвале...*/
        width: 30px; /*...установить ширину...*/
        height: 30px; /*...и высоту 30 пикселей,*/
        margin-left: -5px; /*...а также отступ слева -5 пикселей*/
    } /*Лягушка*/
    body footer.footer div.yadisk svg { /*Для векторного изображения кнопки яндекс.диска в подвале...*/
        margin-top: -5px; /*...установить отступ слева -5 пикселей*/
    } /*Лягушка*/
    body footer.footer > div h2 { /*Для заголовков второго уровня в дочерних контейнерах подвала...*/
        font-size: 14px; /*...установить размер шрифта 14 пикселей,*/
        margin-top: -15px; /*...а также отступ сверху -15 пикселей*/
    } /*Лягушка*/
    body footer.footer > div.vk h2 { /*Для текста в кнопке с группой в вк в подвале...*/
        margin-top: -14px; /*...установить отступ сверху -14 пикселей*/
    } /*Лягушка*/
} /*Лягушка*/
body { /*Для тела документа...*/
    padding: 0; /*...убрать внутренний отступ,*/
    margin: 0; /*...убрать внешний отступ,*/
    overflow: overlay; /*...отключить скрытие лишнего,*/
    background: #333 url("brickwalltexture.jpg"); /*...установить темно-серый цвет фона и изображение черной кирпичной стены*/
} /*Лягушка*/
.contacts-m a { /*Для ссылки в контейнере с контактами в мобильной версии...*/
    font-size: 36px; /*...установить размер шрифта 36 пикселей,*/
    -webkit-text-stroke-width: 1px; /*...установить ширину контура текста 1 пиксель,*/
    text-decoration: double underline #38f 2px; /*...добавить синее двойное подчеркивание,*/
    line-height: 100px; /*...установить высоту строи 100 пикселей,*/
    text-align: center; /*...выровнять по центру по горизонтали,*/
    vertical-align: middle; /*...выровнять по центру по вертикакли,*/
    color: #0000; /*...установить прозрачный (он же transparent) цвет текста,*/
    width: 100vw; /*...растянуть по ширине на максимум*/
} /*Лягушка*/
.contacts-m a:first-of-type { /*Для первой ссылки в контейнере для контактов в мобильной версии...*/
    margin-top: 10px; /*...установить отстут сверху 10 пикселей,*/
    border-top-style: double; /*...установить двойную рамку сверху,*/
    border-top-width: 5px; /*...установить толщину рамки сверху 5 пикселей*/
} /*Лягушка*/
.contacts-m a:last-of-type { /*Для последней ссылки в контейнере для контактов в мобильной версии...*/
    margin-bottom: 10px; /*...установить отступ снизу 10 пикселей,*/
    border-bottom-style: double; /*...установить двойную рамку снизу,*/
    border-bottom-width: 5px; /*...установить ширину рамки снизу 5 пикселей*/
} /*Лягушка*/
.contacts-m .closed { /*Для ссылок, которых пока нет...*/
    background-color: #aaa1; /*...установить почти прозрачный серый цвет фона,*/
    -webkit-text-stroke-color: #0000; /*...установить прозрачный цвет контура,*/
    text-decoration-color: #0000; /*...установить прозрачный цвет декораций текста,*/
    text-shadow: none; /*...убрать тень текста,*/
    color: #aaa; /*...установить серый цвет текста,*/
    border-color: #aaa; /*...установить серый цвет рамки*/
    pointer-events: none;
} /*Лягушка*/
.buttons { /*Для контейнера для кнопок в проигрывателе...*/
    display: flex; /*...установить гнущееся(?) отображение,*/
    flex-direction: row; /*...выстроить дочерние элементы в строку,*/
    justify-content: space-between; /*...установить равномерный отступ вокруг дочерних элементов,*/
    align-items: center; /*...а также выровнять дочерние элементы по центру*/
} /*Лягушка*/
a.vk-m { /*Для мобильной ссылки на группу в вк...*/
    border-color: #38f; /*...установить синий цвет рамки,*/
    background-color: #38f1; /*...установить почти прозрачный синий цвет фона*/
} /*Лягушка*/
a.email-m { /*Для мобильной ссыли на почту...*/
    background-color: #d271; /*...установить почти прозрачный розовый цвет фона,*/
    -webkit-text-stroke-color: #d27; /*...установить розовый цвет контура текста,*/
    text-decoration-color: #d27; /*...установить розовый цвет декораций текста,*/
    text-shadow: #d276 0 15px 30px, #d276 0 -15px 30px, #d276 15px 0 30px, #d276 -15px 0 30px; /*добавить розовую тень,*/
    border-color: #d27; /*...установить розовый цвет рамки*/
} /*Лягушка*/
a.yadisk-m { /*Для мобильной ссыли на яндекс.диск...*/
    background-color: #c0f1; /*...установить почти прозрачный пурпурный цвет фона,*/
    -webkit-text-stroke-color: #c0f; /*...установить пурпурный цвет контура текста,*/
    text-decoration-color: #c0f; /*...установить пурпурный цвет декораций текста,*/
    text-shadow: #c0f6 0 15px 30px, #c0f6 0 -15px 30px, #c0f6 15px 0 30px, #c0f6 -15px 0 30px; /*добавить пурпурный тень,*/
    border-color: #c0f; /*...установить пурпурный цвет рамки*/
} /*Лягушка*/
a.gdisk-m { /*Для мобильной ссыли на гугл диск...*/
    background-color: #0c31; /*...установить почти прозрачный зеленый цвет фона,*/
    -webkit-text-stroke-color: #0c3; /*...установить зеленый цвет контура текста,*/
    text-decoration-color: #0c3; /*...установить зеленый цвет декораций текста,*/
    text-shadow: #0c36 0 15px 30px, #0c36 0 -15px 30px, #0c36 15px 0 30px, #0c36 -15px 0 30px; /*добавить зеленую тень,*/
    border-color: #0c3; /*...установить зеленый цвет рамки*/
} /*Лягушка*/
a.yt-m { /*Для мобильной ссыли на ютуб канал...*/
    background-color: #f461; /*...установить почти прозрачный киноварный цвет фона,*/
    -webkit-text-stroke-color: #f46; /*...установить киноварный цвет контура текста,*/
    text-decoration-color: #f46; /*...установить киноварный цвет декораций текста,*/
    text-shadow: #f466 0 15px 30px, #f466 0 -15px 30px, #f466 15px 0 30px, #f466 -15px 0 30px; /*добавить киноварный тень,*/
    border-color: #f46; /*...установить киноварный цвет рамки,*/
    display: none; /*...и не отображать*/
} /*Лягушка*/
.contacts-m a::selection { /*Для выделенной ссылки в контактах мобильной версии сайта...*/
    color: #38f; /*...установить синий цвет*/
} /*Лягушка*/
::selection { /*Для выделенного текста...*/
    background: none; /*...убрать фон,*/
    text-shadow: none; /*...убрать тень*/
} /*Лягушка*/
.contacts-m h2::selection { /*Для выделенного заголовка в контактах мобильной версии...*/
    color: #38f; /*...установить синий цвет*/
} /*Лягушка*/
header { /*Для шапки...*/
    width: 100vw; /*...установить ширину 100%*/
} /*Лягушка*/
header p { /*Для параграфов контейнеров шапки...*/
    font: 28px "asas"; /*...установить шрифт "asas" размером 28 пикселей,*/
    -webkit-text-stroke: #0ff 1px; /*...установить голубой цвет контура толщиной 1 пиксель,*/
    text-align: center; /*...выровнять текст по центру,*/
    text-shadow: #0ff 0 0 30px; /*...добавить голубую тень*/
} /*Лягушка*/
header p::selection { /*Для выделенного текста параграфа контейнеров шапки...*/
    background: none; /*...убрать фон,*/
    text-shadow: none; /*...убрать тень,*/
    color: #0ff /*...установить голубой текст цвета*/
} /*Лягушка*/
br::selection { /*Для выделенного символа переноса строки...*/
    color: #0000 /*...установить прозрачный цвет*/
} /*Лягушка*/
header div { /*Для контейнеров шапки...*/
    width: 80vw; /*...установить ширину 80%,*/
    left: 10vw; /*...отступ слева 10%,*/
    /* position: sticky; ...липкую позицию, */
    height: 100%; /*...высоту 100%*/
} /*Лягушка*/
.header h2 { /*Для заголовков шапки...*/
    /* position: sticky; ...установить липкую позицию, */
    top: 10px; /*...отступ сверху 10 пикселей,*/
    -webkit-text-stroke: #0ff 2px; /*...голубой цвет контура толщиной 2 пикселя,*/
    text-shadow: #0ff6 0 15px 30px, #0ff6 0 -15px 30px, #0ff6 15px 0 30px, #0ff6 -15px 0 30px; /*...добавить тень*/
} /*Лягушка*/
.header h2::selection { /*Для выделенных заголовков шапки...*/
    color: #0ff /*...установить голубой цвет*/
} /*Лягушка*/
.modal { /*Для модального окна...*/
    width: 50vw; /*...установить ширину 50%,*/
    min-width: 250px; /*...но не меньше 250 пикселей,*/
    height: 80vh; /*...установить высоту 80%,*/
    border: 6px solid #38f; /*...синюю сплошную рамку толщиной 6 пикселей,*/
    position: fixed; /*...фиксированную позицию,*/
    top: 5vh; /*...отступ сверху 5%,*/
    left: calc(25vw + 6px); /*...отступ слева 25% + 6 пикселей,*/
    border-radius: 10vh; /*...радиус скругления 10% от высоты окна,*/
    box-shadow: #38f 0 0 60px; /*...добавить синюю тень,*/
    background-color: #38f3; /*...установить почти прозрачный синий цвет фона,*/
    display: flex; /*...гибкое отображение,*/
    flex-direction: column; /*...вертикальное расположение дочерних элементов,*/
    justify-content: space-around; /*...равномерно растянуть дочерние элементы с отступами вокруг,*/
    align-items: center; /*...выровнять дочерние элементы по центру,*/
    z-index: 3; /*...передвинуть по оси z на 3 чего-то,*/
    opacity: 0%; /*...установить непрозрачность 0%,*/
    display: none; /*...не отображать*/
} /*Лягушка*/
.qrcode table { /*Для qr-кода...*/
    border: 6px solid #38f; /*...установить голубую сплошную рамку толщиной 6 пикселей,*/
    padding: 5px; /*...внутренний отступ 5 пикселей,*/
    border-radius: 10px; /*...радиус рамки 10 пикселей,*/
    background-color: #fff; /*...белый цвет фона,*/
    width: 200px; /*...ширину...*/
    height: 200px; /*...и высоту 200 пикселей,*/
    box-shadow: #38f 0 0 60px; /*...добавить синюю тень*/
} /*Лягушка*/
a.link-text { /*Для ссылки в модальном окне...*/
    -webkit-text-stroke: #38f 2px; /*...установить синий цвет контура толщиной 2 пикселя,*/
    text-shadow: #38f6 0 15px 30px, #38f6 0 -15px 30px, #37f6 15px 0 30px, #38f6 -15px 0 30px; /*...добавить тень,*/
    align-items: center; /*...выровнять по центру,*/
    text-decoration: double underline 2px #38f; /*...добавить двойное нижнее подчеркивание синего цвета,*/
    color: #0004 /*...а также почти прозрачный черный цвет*/
} /*Лягушка*/
a.link-text:hover { /*Когда курсор над ссылкой модального окна...*/
    cursor: pointer; /*...установить курсор-указатель,*/
    color: #aaaa; /*...почти непрозрачный серый цвет текста,*/
    box-shadow: none; /*...убрать тень,*/
    -webkit-text-stroke: #aaa3 0px !important; /*...принудительно удалить контур,*/
    text-decoration: none !important; /*...принудительно убрать декорации текста*/
} /*Лягушка*/
a::selection { /*Для выделенных ссылок...*/
    color: #aaa /*...установить серый цвет*/
} /*Лягушка*/
.modal-bg { /*Для фона фодального окна...*/
    content: ""; /*...убрать содержимое,*/
    z-index: 2; /*...передвинуть по оси z на 2,*/
    width: 100vw; /*...установить ширину 100%,*/
    height: 100vh; /*...установить высоту 100%,*/
    position: fixed; /*...зафиксировать на мониторе,*/
    background-color: #000a; /*...установить полупрозрачный черный цвет фона,*/
    animation: linear 1s 1 showlink; /*...добавить анимацию,*/
    left: 0; /*...установить отступ слева 0,*/
    top: 0; /*...отступ всерху 0,*/
    opacity: 0%; /*...непрозрачность 0%,*/
    display: none; /*...не отображать*/
} /*Лягушка*/
@keyframes showlink { /**/
    from { /**/
        background-color: #0000; /**/
    } to { /**/
        background-color: #000c; /**/
    } /*Лягушка*/
} /*Лягушка*/
.examples { /**/
    width: 100vw; /**/
} /*Лягушка*/
.examples h2 { /**/
    -webkit-text-stroke: #f09 2px; /**/
    text-shadow: #f095 0 15px 30px, #f095 0 -15px 30px, #f095 15px 0 30px, #f095 -15px 0 30px; /**/
    /* position: sticky;  */
    top: 10px; /**/
    z-index: 1; /**/
} /*Лягушка*/
.examples h2::selection { /**/
    color: #f09 /**/
} /*Лягушка*/
.examples p { /**/
    -webkit-text-stroke: #f09 1px; /**/
    font: 28px "asas"; /**/
    text-align: center; /**/
    text-shadow: #f09 0 0 30px; /**/
} /*Лягушка*/
.examples p::selection { /**/
    background: none; /**/
    text-shadow: none; /**/
    color: #f09 /**/
} /*Лягушка*/
.reviews { /**/
    width: 100vw; /**/
    left: 0; /**/
    display: none; /**/
} /*Лягушка*/
h2, a { /**/
    -webkit-text-stroke: #38f 2px; /**/
    font: 48px "asas"; /**/
    text-align: center; /**/
    line-height: 50px; /**/
    margin: 0; /**/
    text-shadow: #38f6 0 15px 30px, #38f6 0 -15px 30px, #38f6 15px 0 30px, #38f6 -15px 0 30px; /**/
    display: block; /**/
} /*Лягушка*/
.reviews h2 { /**/
    -webkit-text-stroke: #49f 2px; /**/
    /* position: sticky;  */
    top: 10px; /**/
    text-shadow: #49f5 0 15px 30px, #49f5 0 -15px 30px, #49f5 15px 0 30px, #49f5 -15px 0 30px; /**/
} /*Лягушка*/
.reviews h2::selection { /**/
    color: #49f /**/
} /*Лягушка*/
.comments { /**/
    width: 100vw; /**/
    border-bottom: 70px #fff solid; /**/
} /*Лягушка*/
.comments h2 { /**/
    -webkit-text-stroke: #ff3 2px; /**/
    /* position: sticky;  */
    top: 10px; /**/
    text-shadow: #ff35 0 15px 30px, #ff35 0 -15px 30px, #ff35 15px 0 30px, #ff35 -15px 0 30px; /**/
} /*Лягушка*/
.comments h2::selection { /**/
    color: #ff3 /**/
} /*Лягушка*/
footer { /**/
    position: fixed; /**/
    top: calc(100vh - 60px); /**/
    width: 100vw; /**/
    height: 70px; /**/
    z-index: 2; /**/
    left: 0; /**/
    display: flex; /**/
    flex-direction: row; /**/
    justify-content: space-around; /**/
} /*Лягушка*/
footer > div { /**/
    border: 5px double #38f; /**/
    border-radius: 25%; /**/
    width: 50px; /**/
    height: 50px; /**/
    box-shadow: inset #38f6 0 0 15px, #38fa 0 0 15px; /**/
} /*Лягушка*/
footer div.vk h2 { /**/
    font-size: 36px; /**/
    text-shadow: #38f 0 0 15px; /**/
} /*Лягушка*/
footer div.mail { /**/
    border-color: #d27; /**/
    box-shadow: inset #d276 0 0 15px, #d27a 0 0 15px; /**/
} /*Лягушка*/
footer div.mail h2 { /**/
    margin-top: -4px; /**/
    font-size: 36px; /**/
    text-shadow: #d27 0 0 15px; /**/
    -webkit-text-stroke: #d27 2px; /**/
} /*Лягушка*/
footer div.mail:hover { /**/
    color: #d27 /**/
} /*Лягушка*/
footer div.yadisk { /**/
    border-color: #c0f; /**/
    box-shadow: inset #c0f6 0 0 15px, #c0fa 0 0 15px; /**/
} /*Лягушка*/
footer div.yadisk svg { /**/
    margin-top: -2px; /**/
    margin-left: -8px /**/
} /*Лягушка*/
footer div.gdisk { /**/
    border-color: #0c3; /**/
    box-shadow: inset #0c36 0 0 15px, #0c3a 0 0 15px; /**/
} /*Лягушка*/
footer div.gdisk svg { /**/
    margin-top: -6px; /**/
    margin-left: -7px /**/
} /*Лягушка*/
footer div.yt { /**/
    border-color: #f46; /**/
    box-shadow: inset #f466 0 0 15px, #f46a 0 0 15px; /**/
    display: none; /**/
} /*Лягушка*/
footer div.yt svg { /**/
    margin-top: -5px; /**/
    margin-left: -12px /**/
} /*Лягушка*/
footer div.theme { /**/
    border-color: #ff3; /**/
    box-shadow: inset #ff36 0 0 15px, #ff3a 0 0 15px; /**/
} /*Лягушка*/
footer div.theme svg { /**/
    margin-top: -4px; /**/
    margin-left: -7px /**/
} /*Лягушка*/
footer > div:hover { /**/
    border-style: solid; /**/
    cursor: pointer; /**/
    margin-top: -20px; /**/
    color: #38f /**/
} /*Лягушка*/
svg { /**/
    width: 62px; /**/
    height: 60px; /**/
    overflow: hidden; /**/
} /*Лягушка*/
@font-face { /**/
    font-family: "Asas"; /**/
    src: url("asas.ttf") format("TrueType"); /**/
} /*Лягушка*/
::-webkit-scrollbar { /**/
    width: 16px; /**/
    height: 0; /**/
} /*Лягушка*/
::-webkit-scrollbar-thumb { /**/
    border: 6px double #0c3; /**/
    background-color: #0c36; /**/
    border-radius: 15px; /**/
    box-shadow: #0c3 0 50px 100px, #0c3 0 -50px 100px, #0c36 0 0 35px inset; /**/
    height: 25px; /**/
    border-left: none; /**/
    border-right: none /**/
} /*Лягушка*/
::-webkit-scrollbar-track { /**/
    background: rgba(0, 0, 0, 0.2); /**/
} /*Лягушка*/
::-webkit-scrollbar-button:single-button { /**/
    display: block; /**/
    border-style: solid; /**/
    height: 8px; /**/
    width: 16px; /**/
} /*Лягушка*/
::-webkit-scrollbar-button:single-button:vertical:decrement { /**/
    border-width: 0 8px 8px 8px; /**/
    border-color: transparent transparent #0c3 transparent; /**/
} /*Лягушка*/
::-webkit-scrollbar-button:single-button:vertical:increment { /**/
    border-width: 8px 8px 0 8px; /**/
    border-color: #0c3 transparent transparent transparent; /**/
} /*Лягушка*/
.video-player { /**/
    max-width: 80vw; /**/
    margin-left: 10vw; /**/
    margin-top: 50px; /**/
    z-index: 0; /**/
    display: none; /**/
} /*Лягушка*/
iframe { /**/
    width: 100vw; /**/
} /*Лягушка*/
iframe.yt-player:first-of-type { /**/
    width: 80vw; /**/
    margin-left: 10vw; /**/
    height: 45vw; /**/
} /*Лягушка*/
.video { /**/
    width: 100%; /**/
} /*Лягушка*/
.play { /**/
    width: 30px; /**/
    height: 30px; /**/
    border: #c0f double 5px; /**/
    background: none; /**/
    border-radius: 20px; /**/
    margin: 3px; /**/
    box-shadow: #c0fa 0 0 15px, inset #c0f6 0 0 15px; /**/
    background-image: url("play.svg"); /**/
    background-repeat: no-repeat; /**/
    background-position: 5px 1px; /**/
    background-size: 15px; /**/
} /*Лягушка*/
.play svg { /**/
    margin-top: 2px; /**/
    margin-left: -1px; /**/
} /*Лягушка*/
input[type=range] { /**/
    -webkit-appearance: none; /**/
    width: calc(100% - 4px); /**/
    height: 10px; /**/
    background-color: #0000; /**/
    border: 2px solid #c0f; /**/
    border-radius: 10px 10px; /**/
    margin: 0; /**/
    margin-top: 7px; /**/
} /*Лягушка*/
input[type=range]:focus { /**/
    outline: none; /**/
} /*Лягушка*/
input[type=range]::-webkit-slider-runnable-track { /**/
    width: 100%; /**/
    height: 10px; /**/
    cursor: pointer; /**/
    border-radius: 25px; /**/
} /*Лягушка*/
input[type=range]::-webkit-slider-thumb { /**/
    -webkit-appearance: none; /**/
    height: 20px; /**/
    width: 20px; /**/
    border-radius: 10px; /**/
    background: #0000; /**/
    cursor: pointer; /**/
    margin-top: -5px; /**/
    border: 5px double #c0f; /**/
} /*Лягушка*/
input[type=range]::-moz-range-track { /**/
    width: 100%; /**/
    height: 12.8px; /**/
    cursor: pointer; /**/
    background: #ac51b5; /**/
    border-radius: 25px; /**/
} /*Лягушка*/
input[type=range]::-moz-range-thumb { /**/
    height: 20px; /**/
    width: 39px; /**/
    border-radius: 7px; /**/
    background: #65001c; /**/
    cursor: pointer; /**/
} /*Лягушка*/
input[type=range]::-ms-track { /**/
    width: 100%; /**/
    height: 12.8px; /**/
    cursor: pointer; /**/
    background: transparent; /**/
    border-color: transparent; /**/
    border-width: 39px 0; /**/
    color: transparent; /**/
} /*Лягушка*/
input[type=range]::-ms-fill-lower { /**/
    background: #ac51b5; /**/
    border-radius: 50px; /**/
} /*Лягушка*/
input[type=range]::-ms-fill-upper { /**/
    background: #ac51b5; /**/
    border-radius: 50px; /**/
} /*Лягушка*/
input[type=range]::-ms-thumb { /**/
    height: 20px; /**/
    width: 39px; /**/
    border-radius: 7px; /**/
    background: #65001c; /**/
    cursor: pointer; /**/
} /*Лягушка*/
input[type=range]:focus::-ms-fill-lower { /**/
    background: #ac51b5; /**/
} /*Лягушка*/
input[type=range]:focus::-ms-fill-upper { /**/
    background: #ac51b5; /**/
} /*Лягушка*/